<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/my_parties.css' %}">
    <title>My Parties</title>
</head>
<body>
    <section>
    <h1>MY PARTIES</h1>
    <table class="table table-dark table-hover" id="my_table">
            <thead>
                <tr>
                    <th>Party</th>
                    <th>Location</th>
                    <th>Items Needed</th>
                    <th>Rules</th>
                    <th>Time and Date</th>
                    <th>Actions</th>
                    <th><a href="/dashboard">Return Home</a></th>
                </tr>
            </thead>
            <tbody>
                {%for party in this_party%}
                <tr>
                    <td><a href="#">{{party.title}}</a></td>
                    <td>{{party.location}}</td>
                    <td>{{party.items}}</td>
                    <td>{{party.rules}}</td>
                    <td>{{party.time}} | {{party.date}}</td>
                    <td><a href="#">Edit</a> | <a href="/delete/{{party.id}}">Delete</a></td>
                    <td></td>
                </tr>
                {%endfor%}
            </tbody>
    </table>
    </section>
</body>
</html>