<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function close_window() {
        {
        close();
        }
    }
</script>
    <title>Terms</title>
</head>
<body>
    <h1>Terms and Conditions</h1>
    <ol>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente error ullam aut, eos facilis voluptatum ducimus magnam reiciendis corrupti omnis totam libero, id, beatae quaerat accusantium quos corporis commodi exercitationem.</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eum expedita et ipsam delectus mollitia illum quis quibusdam eos, maiores vel provident, dolorem sit quidem cupiditate consectetur iure porro excepturi.</li>
    </ol>
    <a href="#" onclick="close_window();return false;">Close</a>
</body>
</html>